<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <form action="register" method="POST">
     {% csrf_token %}
    
    <input type="text" name="firt_name" placeholder="First Name"><br>
    <input type="text" name="last_name" placeholder="Last Name"><br>
    <input type="text" name="username" placeholder="Userame"><br>
    <input type="text" name="email" placeholder="Email"><br>
    <input type="text" name="password1" placeholder="Password"><br>
    <input type="text" name="password2" placeholder="Confirm Password"><br>
    <input type="submit">
</form>  
</body>
</html>